<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kupon BBM</title>
</head>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
<link rel="stylesheet" href="/css/style.css">

<body class="fix-nav">

  <% include ./partials/navbar2 %>

  <%- body -%>

  <% include ./partials/footer %>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <!--<script src="/js/spin.js"></script>-->
  <script src="/js/custom.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2"></script>
</body>

</html>