<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kupon BBM</title>
</head>

<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- CSS Files -->
<link href="/now-ui/css/bootstrap.min.css" rel="stylesheet" />
<link href="/now-ui/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/now-ui/demo/demo.css" rel="stylesheet" />
<link href="/css/style2.css" rel="stylesheet" />

<body class="fix-nav">

  <div class="wrapper">
    <%- body -%>
  </div>

  <!--   Core JS Files   -->
  <script src="/now-ui/js/core/jquery.min.js"></script>
  <script src="/now-ui/js/core/popper.min.js"></script>
  <script src="/now-ui/js/core/bootstrap.min.js"></script>
  <script src="/now-ui/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
  <!-- Chart JS -->
  <script src="/now-ui/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/now-ui/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/now-ui/js/now-ui-dashboard.js?v=1.0.1"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="/now-ui/demo/demo.js"></script>
</body>

</html>