table tbody button, table th>button {
  margin: 0 !important;
}

table tbody td.has-button, table th.has-button {
  padding: 4px 10px !important;
}

table .pad-btn {
  width: 80px;
  padding: 3px 8px !important;
}

.form-group p.up {
  margin-top: 6px !important;
}

.form-group p.txt-big {
  font-size: 55pt;
  margin: 0pt 0 -10pt;
  font-weight: bold;
}

.info-box-big {
  font-size: 27pt !important;
}

textarea.noresize {
  resize: none;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}