body.fix-nav {
  padding-top: 50px;
  padding-bottom: 20px;
}

.pad-top-20 {
  padding-top: 20px;
}

.product-image {
  width: 100%;
}

#myModal .panel-title img {
  margin-top: -13px !important;
  /*margin-right: -17px !important;*/
}