.c-white {
    color: white !important;
}

input.c-white:focus {
    color: #2c2c2c !important;
}

.panel-header-xs {
    height: 50px;
    padding-bottom: 14px;
}

table tbody button, table th>button {
    margin: 0 !important;
}

table tbody td.has-button, table th.has-button {
  padding: 4px 10px !important;
}