<% layout('layout') -%>

<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Dashboard</h2>
    <p class="category">Welcome <%= nama_user %>. Please checkout the
      <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
    </p>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
</div>